body {
  background-color: #f4f6f8;
  font-family: Arial, sans-serif;
}

/* SIDEBAR */
.sidebar {
  background-color: #111827;
  color: white;
  padding: 20px;
}

.sidebar .list-group-item {
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

.sidebar .list-group-item.active {
  background-color: #374151;
}

/* PREVIEW */
.preview-area {
  padding: 30px;
}

.preview-box {
  height: 300px;
  background: white;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* COMPONENT */
.component {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CONTROLS */
.controls {
  background: white;
  padding: 20px;
  border-left: 1px solid #ddd;
}

hr {
  margin: 15px 0;
}
